<div class="page-header">
  <%= render 'shared/page_title', title: t('blog_edit_title') %>
  <ul class="actions">
    <li><%= link_to t('index'), blogs_path, class: "index" %></li>
    <li><%= link_to t('delete'), blog_path, class: "delete", 
            method: :delete, data: { confirm: t('are_you_sure') } %></li>
  </ul>
</div>
<%= render 'form' %>