<div class="page-header">
  <%= render 'shared/page_title', title: t(:blog_index_title) %>
  <ul class="actions">
    <li><%= link_to t(:new), new_blog_path, class: "new" %></li>
  </ul>
</div>

<div class="container">
  <%= render @blogs %>
</div>

<%= link_to t(:back_to_top), blogs_path %>