<div class="page-header">
  <%= render 'shared/page_title', title: t(:blog_new_title) %>
  <ul class="actions">
    <li><%= link_to t(:index), blogs_path, class: "index" %></li>
  </ul>
</div>
<%= render 'form' %>