<%= form_for @comment, url: "#" do |f| %>
  <div class="form-group">
    <%= f.label :content, t(:comments) %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= f.submit t(:save), class: "btn btn-primary mb-2" %>
<% end %>