<div class="page-header">
  <%= render 'shared/page_title', title: t(:retreat_edit_title) %>
  <ul class="actions">
    <li><%= link_to t(:index), retreats_path, class: "index" %></li>
    <li><%= link_to t(:delete), retreat_path, class: "delete", 
            method: :delete, data: { confirm: t(:are_you_sure) } %></li>
  </ul>
</div>
<div class="container">
  <%= render 'form' %>
</div>