<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @sidebar_topics.title_order.each do |topic| %>
      <%= link_to topic.title, topic_path(topic) %><br/>
    <% end %><br />
    <h4>Tags</h4>
    <div id='tag_cloud'>
      <% tag_cloud Blog.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>
  </div>
</div>