<% if obj.errors.any? %>
<div class="container"> 
  <div class="row">
    <div class="col-md-12 no-padding">
        <div class="alert alert-alert %>">
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <h6>
            <%= raw t('errors.template.header', count: obj.errors.count,
                model: t('activerecord.models.' + obj.class.to_s.downcase )) %>&nbsp;
            <%= t('errors.template.body') %>
          </h6>
          <ul>
            <% obj.errors.full_messages.each do | msg | %>
              <li><%= raw msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>