<div class="page-header">
  <h1> <%= t :products %> </h1>
</div> 
<div class="container">
  <div class="subscription-subtitle"> 
  Select products from our catalogue below.
  </div>
  <br />
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-7 col-md-7">
      <p class="float-right d-md-none">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="row">
        <div class=" card col-4 col-lg-4 mr-1 mb-1">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap" width="100%">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="add_to_cart"><%= t(:add_to_cart) %></a>
          </div>
        </div><!--/span-->
        <div class=" card col-4 col-lg-4 mr-1 mb-1">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
        <div class=" card col-4 col-lg-4 mr-0 mb-0">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
        <div class=" card col-3 col-lg-3 mr-3 mb-3">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
        <div class=" card col-3 col-lg-3 mr-3 mb-3">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
        <div class=" card col-3 col-lg-3 mr-3 mb-3">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->

    <div class="col-5 col-md-5 sidebar-offcanvas" id="sidebar">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Shopping Cart</h4>
          <p class="card-text">Select products to add them to the cart. When done click the checkout button to proceed to payment.</p>
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <%= link_to t(:checkout), new_charge_path, class: "checkout mr-1" %>
          <%= link_to t(:empty_cart), products_path, class: "empty_cart", 
              method: :delete, data: { confirm: t(:are_you_sure) } %>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div>
