<div class="page-header">
  <h1> <%= t :products %> </h1>
</div> 
<div class="container">
  <div class="subscription-subtitle"> 
  Select productsfrom our catalogue below.
  </div>
  <br />
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-8 col-md-8">
      <p class="float-right d-md-none">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="row">
        <div class=" card col-3 col-lg-3 mr-3 mb-3">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
       <div class=" card col-3 col-lg-3 mr-3 mb-3">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
        <div class=" card col-3 col-lg-3 mr-3 mb-3">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
        <div class=" card col-3 col-lg-3 mr-3 mb-3">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
        <div class=" card col-3 col-lg-3 mr-3 mb-3">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
        <div class=" card col-3 col-lg-3 mr-3 mb-3">
          <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Product</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">USD 100</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->

    <div class="col-4 col-md-4 sidebar-offcanvas" id="sidebar">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Shopping Cart</h4>
          <p class="card-text">Select products to add them to the cart. When done click the checkout button to proceed to payment.</p>
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <p> </p> <br />
          <a href="#" class="btn btn-success mr-1">Checkout</a>
          <a href="#" class="btn btn-danger">Empty Cart</a>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div>
