<div class="page-header">
  <h1> <%= t :services %> </h1>
</div>
<div class="container-fluid">
  <div class="subscription-subtitle"> Subscribe to our dream repository with one of the options below. </div>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <div class="card subscription">
        <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Free Trial</h4>
          <p class="card-text">The basic starter option allowing evaluation of the subscription.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">1 User</li>
          <li class="list-group-item">10 Dreams</li>
          <li class="list-group-item">Expires after 30 days</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-danger">Subscribe</a>
        <a href="#" class="card-link ml-2">More info</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card subscription">
        <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">USD 10 per month</h4>
          <p class="card-text">The option for individual users giving you a personal repository</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">1 User</li>
          <li class="list-group-item">Unlimited Dreams</li>
          <li class="list-group-item">Single Tenant</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary">Subscribe</a>
        <a href="#" class="card-link ml-2">More info</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card subscription">
        <img class="card-img-top" src="http://placehold.it/350x200" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">USD 100</h4>
          <p class="card-text">The option for people who want to invite others to share a repository.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Unlimited Members</li>
          <li class="list-group-item">Unlimited Dreams</li>
          <li class="list-group-item">Multi-tenancy</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Subscribe</a>
        <a href="#" class="card-link ml-2">More info</a>
        </div>
      </div>
    </div>
  </div>
</div>
