<!-- <%= render 'shared/errors', obj: @product %> -->
<div class="page-header">
  <%= render 'shared/page_title', title: t(:product_new_title) %>
  <ul class="actions">
    <li><%= link_to t(:index), products_path, class: "index" %></li>
  </ul>
</div>
<div class="container">
  <%= render 'form' %>
</div>