<footer class="footer">
  <div class="navbar navbar-default fixed-bottom" role="navigation">
    <div class="navbar-text col-12">
      <hr>
      <%= @copyright %> <%= link_to("Dragonicity Ltd", 'http://www.dragonicity.com') %> , all rights reserved
    </div>
  </div>
</footer>