<footer class="footer">
  <div class="navbar navbar-default fixed-bottom" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-text">
          <%= @copyright %>
          <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>